body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333 !important;
    color: white;
    padding: 1rem;
    height: 100vh;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.sections {
    padding: 2rem;
}

.sections section {
    display: flex;
    margin: 1rem 0;
    padding: 2rem;
}

.section-content {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.section-content .cover {
    flex: 1;
    margin-right: 2rem;
}

.section-content .cover img {
    max-width: 100%;
    height: auto;
}

.section-content .details {
    flex: 2;
    padding: 1rem;
}

.section-content .details h2 {
    margin-top: 0;
}

.section-content .details .downloads {
    margin-top: 1rem;
}

.section-content .details .downloads .download {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.section-content .details .downloads .download-icon {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
}

.whitebox {
    background-color: white;
    padding: 1rem;
    border: 1px solid #ddd;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px grey;
}

.whitebox-content {
    display: flex;
    align-items: center;
}

.whitebox-icon {
    margin-right: 1rem;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.image{
    border: 3px solid red !important;
    max-width: 100%;
}