<header class="border border-warning" style="min-height: 50vh; background-color: yellow;">
     <div class="row justify-content-center align-items-end" style="height:50vh ;">
        <div class="col-md-5 col-10">
            <img src="./images/Header.png" alt="header-image" class="img-fluid">
        </div>
     </div>
     <div style="background: #333; min-height: auto;" class="container-fluid py-3">
        <div class="row justify-content-center">
            <div class='col-md-7 col-12 d-flex flex-md-nowrap flex-wrap p-md-0 p-2 gap-2'>

                <div class='col-md-2 col-12 image'>
                    <img src='images/cizinsky_intro.png' alt='Cizinsky_image' class="img-fluid" />
                </div>
                <div class='col-md-10 col-12 '>
                    <h3 class="header-title mb-0" style="color: #ffff00; font-weight:bold; font-size:18px;">Milí sousedé.</h3>
                        <p class='mb-2 pb-2'
                            style="color: yellow; font-size:18px; font-weight:bold;">Jsme
                            jedni z vás a máme rádi svoji Prahu 7. Stejně tak jsme fandové i našeho starosty, Jendy Čižinského.
                            Nicméně během jeho několikaletého působení v čele naší městské části se postupně objevují další a
                            další rozporuplné informace, které nás naplňují znepokojením.</p>
                         <hr style="border:3px solid yellow">   
                        <p class='mb-2' style="color: white; font-size:12px; font-weight:550;">Protože je těchto už skoro
                            šokujících informací kolem Jendy Čižinského tolik, rozhodli jsme se, vydat časopis a spustit tento
                            web. Zde najdete shrnutí většiny Jendy kauz.</p>
                        <p class='mb-2' style='font-size:11px; color:white; text-align:justify;'>
                            Náš starosta Prahy 7, pan Jenda Čižinský, nyní odstoupil z funkce předsedy hnutí Praha Sobě a
                            jmenoval místo sebe Adama Scheinherra. Údajně proto, že je pan starosta aktuálně vyšetřován elitním
                            celostátním útvarem policie a nechce těmito svými problémy zatížit hnutí. Adam Scheinherr se kvůli
                            nové funkci i ostříhal na radu nově najatého superdrahého poradce Michala Repy. Rada zněla: vypadat
                            jako intelektuál.
                            I když panu starostovi budou jeho mediální poradci radit, ať celý náš soubor dotazů označí za
                            pamflet, věříme, že pan starosta Prahy 7 a pražský zastupitel Jenda Čižinský bude chtít ve vlastním
                            zájmu odpovědět na tato jasná a nezpochybnitelná fakta Děkujeme.
                        </p>
                        <p style='font-size:11px; color:white;'>
                            Všechny dotazy Jendo považujte za dotazy podle zákona 106/1999 o svobodném přístupu k informacím.
                            Jako odpověď prosím použijte například Vámi tolik využívaný Facebook.
                        </p>
                  
                </div>
            </div>
        </div>
     </div>
</header>