
{{ define "main" }}
{{ partial "header.html" . }}

<main class="sections">
    {{ range sort .Site.RegularPages "Params.weight" }}
        <section id="{{ .File.BaseFileName }}" style="background-color: {{ .Params.color }};" class="pt-3">
            <div class="section-content d-flex flex-md-nowrap flex-wrap justify-content-md-start justify-content-center" style="max-width: 800px; width: 100%; padding: 30px 0; margin: auto; border-bottom: 4px solid #fff;">
                <div class="cover col-md-2 col-12 text-center" style="padding-right: 10px;">
                    <img src="{{ .Params.cover | relURL }}" alt="" class="img-fluid">
                </div>
                <div class="details col-md-10 col-12 px-2">
                    <h2 style="border-bottom: 3px solid #000; font-family: 'Times New Roman', Times, serif ; padding-right: 15px;" class="pb-2 fw-bold">{{ .Title }}</h2>
                    <h5 style="font-weight: 700; font-size: 18px;">{{ .Params.subtitle }}</h5>
                    <div class="content" style="font-size: 15px; margin-top: 20px;">
                        {{ .Content }}
                    </div>
                    <div class="whitebox bg-white px-3 mb-3">
                        <div class="whitebox-content d-flex gap-3" style="padding: 15px 5px;">
                            <img src="{{ .Params.whitebox.icon | relURL }}" alt="Icon" class="whitebox-icon mt-2" style="width: 2rem; height: 2rem;">
                            <div>
                                <p class="fw-bold mb-0 pb-2 mb-1" style="border-bottom: 3px solid red;">{{ .Params.whitebox.title }}</p>
                                <p class="fw-bold" style="color: red; font-size: 14px; text-align: justify;"><span>„</span><span>{{ .Params.whitebox.paragraph }}</span><span>„</span></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="{{ .Params.image | relURL }}" alt="" class="img-fluid mb-2">
                    </div>
                        <div class="downloads">
                            {{ range .Params.downloads }}
                                <a href="{{ .url | relURL }}" class="download text-decoration-none d-flex align-items-center mb-2" style="font-size: 14px;">
                                    <span class="material-symbols-outlined me-1">
                                    {{.icon}}
                                    </span> {{ .label }}
                                </a>
                            {{ end }}
                        </div>
                </div>
            </div>
        </section>
    {{ end }}
</main>
{{ end }}


